@font-face{
    font-family: 'proxima-light';
    src: url('../fonts/ProximaNova/ProximaNova-Light.otf');
    font-style: normal;
}

@font-face{
    font-family: 'proxima-regular';
    src: url('../fonts/ProximaNova/ProximaNova-Regular.otf');
    font-style: normal;
}

@font-face{
    font-family: 'proxima-semibold';
    src: url('../fonts/ProximaNova/ProximaNova-Semibold.otf');
    font-style: normal;
}

@font-face{
    font-family: 'proxima-bold';
    src: url('../fonts/ProximaNova/ProximaNova-Bold.otf');
    font-style: normal;
}

@font-face{
    font-family: 'proxima-extrabold';
    src: url('../fonts/ProximaNova/ProximaNova-Extrabold.otf');
    font-style: normal;
}

@font-face{
    font-family: 'proxima-black';
    src: url('../fonts/ProximaNova/ProximaNova-Black.otf');
    font-style: normal;
}


*
{
    font-family: proxima-regular;
    /*transition: all 0.5s ease;*/
    /*-moz-transition: all 0.5s ease;*/
    /*-o-transition: all 0.5s ease;*/
    /*-webkit-transition: all 0.5s ease;*/
}

body {
    margin: 0px;
    padding: 0px;
}

.intro {
    height: 100vh;
    width: 100%;
    background: url('../images/bg.jpg') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 0;*/
}

#works, footer {
    height: 100vh;
    width: 100%;
    position: relative;
    /*padding-top: 100px;*/
}

footer {
    height: 75vh;
    background: #0C1419;
}



#works table {
    width: 100%;
    position: absolute;
    top: 200px;
}

#works table tr td.primary {
    width: 100%;
    height: 50vh;
    background: #f8f8f8;
    text-align: center;
    letter-spacing: 20px;
    color: #ddd;
    font-weight: 100;
}

#works table tr td.secondary {
    width: 50%;
    height: 50vh;
}

#works table tr td.secondary img {
    height: 50vh;
}

#works table tr td img {
    width: 100%;
    height: auto;
    overflow: hidden;
}

h1.title {
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    top: 80px;
    font-family: proxima-light;
    font-weight: 100;
    color: #244D69;
    font-size: 24px;
    /*margin-top: 100px;*/
}

.intro .middle {
    position: absolute;
    top: 50%;
    /*left: 50%;*/
    margin-top: -50px;
    /*margin-left: -250px;*/
    width: 100%;
    height: 100px;
    /*background-color: blue;*/
    text-align: center;
    color: white;
}

.intro .middle .brand {
    font-family: proxima-light;
    font-size: 24px;
}

.intro .middle .desc {
    font-family: proxima-light;
    font-size: 12px;
    opacity: 0.5;
    margin-top: 10px;
}

.intro .bottom {
    position: absolute;
    bottom: 120px;
    display: block;
    width: 100%;
    text-align: center;
}

.intro .bottom ul,
.intro .bottom li {
    list-style: none;
    display: inline;
    padding: 0;
    margin: 0;
}

.intro .bottom ul li {
    margin-right: 10px;
}

.intro .bottom ul li a {
    color: white;
    font-size: 10px;
    text-decoration: none;
    letter-spacing: 3px;
    padding-bottom: 15px;
}

.intro .bottom ul li a:hover {
    /*text-decoration: underline;*/
    border-bottom: 1px dotted white;
}

.intro .bottom ul li.separator a {
    /*font-family: proxima-light;*/
    opacity: 0.5;
    /*border-left: 1px solid rgba(255,255,255,0.5);*/
}



footer .bottom {
    position: absolute;
    bottom: 70px;
    display: block;
    width: 100%;
    text-align: center;
}

footer .bottom ul,
footer .bottom li {
    list-style: none;
    display: inline;
    padding: 0;
    margin: 0;
}

footer .bottom ul li {
    margin-right: 10px;
}

footer .bottom ul li a, 
footer .bottom ul li.copyright {
    color: white;
    font-size: 10px;
    text-decoration: none;
    letter-spacing: 3px;
    padding-bottom: 15px;
    opacity: 0.5;
    font-weight: 100;
}

footer .bottom ul li.copyright {
    opacity: 0.3;
    font-size: 8px;
}

footer .bottom ul li a:hover {
    /*text-decoration: underline;*/
    border-bottom: 1px dotted white;
    opacity: 0.8;
}

footer .bottom ul li.separator a {
    /*font-family: proxima-light;*/
    opacity: 0.5;
    /*border-left: 1px solid rgba(255,255,255,0.5);*/
}



.kerning-1 { letter-spacing: 1px; }
.kerning-2 { letter-spacing: 2px; }
.kerning-3 { letter-spacing: 3px; }
.kerning-4 { letter-spacing: 4px; }
.kerning-5 { letter-spacing: 5px; }
.kerning-6 { letter-spacing: 6px; }
.kerning-7 { letter-spacing: 7px; }
.kerning-8 { letter-spacing: 8px; }
.kerning-9 { letter-spacing: 9px; }
.kerning-10 { letter-spacing: 10px; }



