/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

.btn {
  white-space: normal;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #fff;
}
body {
  color: #fff;
  text-align: center;
  /*text-shadow: 0 1px 3px rgba(0,0,0,.5);*/
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  /*-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
          /*box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: absolute;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 1080px;
  }
}


/* custom */

@font-face{
    font-family: 'proxima-light';
    src: url('../fonts/ProximaNova/ProximaNova-Light.otf');
    font-style: normal;
}

@font-face{
    font-family: 'proxima-regular';
    src: url('../fonts/ProximaNova/ProximaNova-Regular.otf');
    font-style: normal;
}

@font-face{
    font-family: 'proxima-semibold';
    src: url('../fonts/ProximaNova/ProximaNova-Semibold.otf');
    font-style: normal;
}

@font-face{
    font-family: 'proxima-bold';
    src: url('../fonts/ProximaNova/ProximaNova-Bold.otf');
    font-style: normal;
}

@font-face{
    font-family: 'proxima-extrabold';
    src: url('../fonts/ProximaNova/ProximaNova-Extrabold.otf');
    font-style: normal;
}

@font-face{
    font-family: 'proxima-black';
    src: url('../fonts/ProximaNova/ProximaNova-Black.otf');
    font-style: normal;
}

*
{
    font-family: proxima-regular;
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
    /*transition: all 0.5s ease;*/
    /*-moz-transition: all 0.5s ease;*/
    /*-o-transition: all 0.5s ease;*/
    /*-webkit-transition: all 0.5s ease;*/
}

body {
  background: url('https://dl.dropboxusercontent.com/s/qico9s1b6npyr0n/cover-bg.jpg?dl=0') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background-position: fixed center;*/
}

.fit-left {
  padding-left: 0px;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

span.introduction {
  font-size: 20px;
  /*letter-spacing: 0.1em;*/
  font-family: proxima-light;
  color: rgba(255,255,255,0.8);
}

span.introduction strong {
  color: white;
}

@media (max-width: 480px) {
  span.introduction strong {
    display: block;
  }
}

span.description {
  font-size: 18px;
  font-family: proxima-light;
  /*letter-spacing: 0.1em;*/
  line-height: 24px;
  /*color: #999;*/
  color: rgba(255,255,255,0.5);
  margin-bottom: 24px;
  /*opacity: 0.5;*/
}

span.description a {
  /*opacity: 1.0;*/
  text-decoration: underline;
}

.mastfoot {
  font-size: 10px;
  font-family: proxima-light;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: right;
}

.intro {
  margin-top: 50px;
}
.intro span {
  display: block;
  width: 100%;
}

.intro .social {
  margin-top: 20px;
}

.intro .social a {
  margin-left: 15px;
}

.intro nav ul {
  padding: 0;
}
.intro nav ul li {
  display: inline;
  margin-right: 5px;
  /*padding-right: 10px;*/
}

.intro nav ul li:last-child {
  margin-right: 0px;
}

.intro nav ul li a {
  padding-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 10px;
}

.intro nav ul li a:hover {
  text-decoration: none;
  border-bottom: 1px dotted white;
}

.intro nav ul li:after {
  /*content: "•";*/
}

.intro nav ul li:last-child:after {
  content: "";
}

.intro nav ul li.separator {
  opacity: 0.5;
}


.intro .logo img {
  width: 93px;
  opacity: 0.9;
  margin-top: 10px;
  margin-left: 24px
}

.mobile {
  display: none;
}

@media (max-width: 480px) {
  .intro .logo img {
    display: none;
  }
  .intro nav ul li {
  /*content: "•";*/
    display: block;
  }
  .intro nav ul li.separator {
    display: none;
  }
  .intro {
    text-align: left;
  }
  .mastfoot p span{
    margin-bottom: 0px;
  }
  .mobile {
    display: block;
  }
  .mastfoot {
    text-align: left;
    padding-left: 8px;
  }
}

@media (min-width: 481px) {
  .intro {
    text-align: right;
  }
}


#works {
  /*padding: 100px;*/
}


.section h1 {
  margin: 0;
  padding: 0;
  color: black;
  text-shadow: none;
  font-size: 20px;
  font-family: proxima-light;
  /*font-famiy: "Proxima Nova Light";*/
  color: #ddd;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 5px;
  /*text-shadow: 3px 3px #ccc;*/
}

.section {
  padding: 100px 0px;
}

@media (max-width: 480px) {
  .section {
    padding: 40px 10px;
  }
}


#works {
  /*background: white;*/
}

#works .shot {
  /*position: relative;*/
  /*background: black;*/
  padding: 5px;
  /*margin-right: 5px;*/
}

#works .shot img {
  width: 100%;
}


#works .section-title a {
  color: #444;
}

.section .section-title p {
  color: #999;
  margin-top: 24px;
  line-height: 24px;
  font-size: 16px;
  font-family: proxima-light;
}

.section .section-title ul {
  margin: 0;
  padding: 0;
  margin-top: 24px;
  list-style: none;
}

.section .section-title ul li {
  margin-bottom: 15px;
}

.section .section-title ul li .title {
  font-size: 12px;
  display: block;
}

.section .section-title ul li .content {
  font-size: 16px;
  display: block;
  font-family: proxima-light;
  color: #444;
}

.section .section-title ul li .content a {
  font-family: proxima-light;
  text-decoration: underline;
}

.section#cv .section-title ul li .title {
  color: #aaa;
}
.section#cv .section-title ul li .content {
  color: #444;
  font-family: proxima-regular
}


.fit {
  /*padding: 5px;*/
}

.btn {
  border: 1px solid #ddd;
  border-radius: 100px;
  padding-right: 24px;
  padding-left: 24px;
}

#works .section-title a.dribbble {
  color: #EA4C89;
  border: 1px solid #EA4C89;
}
#works .section-title a.dribbble:hover {
  background: #EA4C89;
  color: white;
}

#works .section-title a.behance {
  color: #1769FF;
  border: 1px solid #1769FF;
}
#works .section-title a.behance:hover {
  background: #1769FF;
  color: white;
}

#works .section-title a.github { 
  color: #171515;
  border: 1px solid #171515;
}
#works .section-title a.github:hover {
  background: #171515;
  color: white;
}

#blog .meta {
  color: #aaa;
  font-size: 18px;
  font-family: proxima-light;
  text-align: right;
}

#blog .title {
  font-size: 18px;
  color: #111;
  font-family: proxima-bold;
}

#blog .content {
  font-size: 15px;
  margin-top: 5px;
  color: #444;
  line-height: 24px;
}

#blog ul li {
  margin-bottom: 20px;
}

#blog ul {
  margin: 100px 0 50px 0;
}
@media (max-width: 480px) {
  #blog ul {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  #blog .meta {
    text-align: left;
    font-size: 14px;
  }

  #blog .btn {
    display: block;
    width: 100%;
  }
}

#cv {
  /*background: #1E76BE;*/
  background: url('https://dl.dropboxusercontent.com/s/dj6ffuz0l85bce7/cv-bg.jpg?dl=0') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#cv h1 {
  color: white;
  letter-spacing: 6px;
  text-transform: uppercase;
  opacity: 0.4;
  font-family: proxima-light;
}

#cv ul li .title {
  color: white;
  opacity: 0.3;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#cv ul li .content {
  color: rgba(255,255,255,0.8);
  /*opacity: 0.8;*/
}

#cv ul li a {
  color: #5fa8e2;
  color: #fff;
  text-decoration: none;
  font-family: proxima-regular;
  /*opacity: 0.5;*/
}

#cv ul li a:hover {
  text-decoration: underline;
  /*text-shadow: 0px 0px 15px white;*/
}

#cv .btn:hover {
  background: white;
  color: #0077B5;
}


.section-title a.btn-yuri {
  color: #5fa8e2;
  border: 1px solid #5fa8e2;
}
.section-title a.btn-yuri:hover {
  background: #5fa8e2;
  color: white;
}

.section-title a.medium {
  color: #1A1919;
  border: 1px solid #1A1919;
}
.section-title a.medium:hover {
  background: #1A1919;
  color: white;
}

.section-title a.facebook {
  color: #3B5998;
  border: 1px solid #3B5998;
}
.section-title a.facebook:hover {
  background: #3B5998;
  color: white;
}

.section-title a.twitter {
  color: #55ACEE;
  border: 1px solid #55ACEE;
}
.section-title a.twitter:hover {
  background: #55ACEE;
  color: white;
}

.section-title a.skype {
  color: #00AFF0;
  border: 1px solid #00AFF0;
}
.section-title a.skype:hover {
  background: #00AFF0;
  color: white;
}

.section-title a.linkedin {
  color: #0077B5;
  border: 1px solid #0077B5;
}
.section-title a.linkedin:hover {
  background: #0077B5;
  color: white;
}

/*#0077B5*/

#git  {
  position: relative;
}


#git .copyright {
  /*position: absolute;*/
  /*bottom: 0;*/
  text-align: center;
  display: block;
  width: 100%;
  margin-top: 100px;
  /*color: #fff;*/
}



#git .copyright span {
  display: block;
  font-family: proxima-regular;
  font-size: 12px;
  margin-bottom: 5px;
  color: #888;
}

.social-links li {
  display: inline;
}
.social-links li a {
  font-family: proxima-semibold;
}

@media (max-width: 480px) {
  #git .btn {
    /*display: block;*/
    /*width: 100%;*/
    /*text-indent: -9999px; */
    margin-bottom: 10px;
    /*border: none;*/
  }
  #git .social .btn {
    border: none;
    font-size: 0px;
    padding: 10px;
  }

  #git .social .btn i {
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  .desktop {
    display: none;
  }

  .social-links li a {
    padding: 5px 10px;
    font-size: 20px;
    /*border: 1px solid white;*/
  }
}
